<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <link rel="shortcut icon" type="image/jpg" href="assets/favicon.ico" />

    <title>IHearU</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-onix-digital.css">
    <link rel="stylesheet" href="assets/css/animated.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <link rel="stylesheet" href="assets/css/style.css">

</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/" class="logo">
                            <img id="logo" src="assets/images/logo.png">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#services">Services</a></li>
                            <li class="scroll-to-section"><a href="#about">Speech to ASL</a></li>
                            <li class="scroll-to-section"><a href="#asl-training">ASL Training</a></li>
                            <li class="scroll-to-section"><a href="#video">Videos</a></li>
                            <li class="scroll-to-section"><a href="#contact">Pronunciation</a></li>
                            <li class="scroll-to-section"><a href="#portfolio">Testimonies</a></li>
                            <li class="scroll-to-section"></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <div class="main-banner" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6 align-self-center">
                            <div class="owl-carousel owl-banner">
                                <div class="item header-text">
                                    <h6>A smart initiative for people with hearing difficulties</h6>
                                    <h2><em>I <span>Hear</span> U</em></h2>
                                    <p>Speech to ASL or English conversion via machine learning</p>
                                </div>
                                <div class="item header-text">
                                    <h6>A smart initiative for people with hearing difficulties</h6>
                                    <h2><em>I <span>Hear</span> U</em></h2>
                                    <p>An initiative to create an all in one platform for people with hearing
                                        difficulties.</p>
                                </div>
                                <div class="item header-text">
                                    <h6>A smart initiative for people with hearing difficulties</h6>
                                    <h2><em>I <span>Hear</span> U</em></h2>
                                    <p>Typing using ASL symbols and Informative videos</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="services" class="our-services section">
        <div class="services-right-dec">
            <img src="assets/images/services-right-dec.png" alt="">
        </div>
        <div class="container">
            <div class="services-left-dec">
                <img src="assets/images/services-left-dec.png" alt="">
            </div>
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2>Here are some of the <em>features</em> of <span>our platform</span></h2>
                        <span>Our Services</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="owl-carousel owl-services">
                        <div class="item">
                            <h4>ASL Training</h4>
                            <div class="icon"><img src="assets/images/service-icon-01.png" alt=""></div>
                            <p>This feature uses machine learning to find the correctness of the word with the given ASL
                                representation</p>
                        </div>
                        <div class="item">
                            <h4>Speech to ASL</h4>
                            <div class="icon"><img src="assets/images/service-icon-02.png" alt=""></div>
                            <p>This feature uses Machine Learning to make the world more accessible by converting either
                                a given video link or a live sound source to an ASL transcript</p>
                        </div>
                        <div class="item">
                            <h4>Pronunciation Training for hearing impaired</h4>
                            <div class="icon"><img src="assets/images/service-icon-03.png" alt=""></div>
                            <p>This feature converts a word as well as it's pronunciation in ASL to help the people have
                                a better grasp on how that specific word will be pronounced</p>
                        </div>
                        <div class="item">
                            <h4>Speech training via video tutorials for hearing impaired</h4>
                            <div class="icon"><img src="assets/images/service-icon-04.png" alt=""></div>
                            <p>There is curated list of video tutorials to ease the process of speaking a language for
                                people having hearing disabilities</p>
                        </div>
                        <div class="item">
                            <h4>ASL Training</h4>
                            <div class="icon"><img src="assets/images/service-icon-01.png" alt=""></div>
                            <p>This feature uses machine learning to find the correctness of the word with the given ASL
                                representation</p>
                        </div>
                        <div class="item">
                            <h4>Speech to ASL</h4>
                            <div class="icon"><img src="assets/images/service-icon-02.png" alt=""></div>
                            <p>This feature uses Machine Learning to make the world more accessible by converting either
                                a given video link or a live sound source to an ASL transcript</p>
                        </div>
                        <div class="item">
                            <h4>Pronunciation Training for hearing impaired</h4>
                            <div class="icon"><img src="assets/images/service-icon-03.png" alt=""></div>
                            <p>This feature converts a word as well as it's pronunciation in ASL to help the people have
                                a better grasp on how that specific word will be pronounced</p>
                        </div>
                        <div class="item">
                            <h4>Speech training via video tutorials for hearing impaired</h4>
                            <div class="icon"><img src="assets/images/service-icon-04.png" alt=""></div>
                            <p>There is curated list of video tutorials to ease the process of speaking a language for
                                people having hearing disabilities</p>
                        </div>
                        <div class="item">
                            <h4>ASL Training</h4>
                            <div class="icon"><img src="assets/images/service-icon-01.png" alt=""></div>
                            <p>This feature uses machine learning to find the correctness of the word with the given ASL
                                representation</p>
                        </div>
                        <div class="item">
                            <h4>Speech to ASL</h4>
                            <div class="icon"><img src="assets/images/service-icon-02.png" alt=""></div>
                            <p>This feature uses Machine Learning to make the world more accessible by converting either
                                a given video link or a live sound source to an ASL transcript</p>
                        </div>
                        <div class="item">
                            <h4>Pronunciation Training for hearing impaired</h4>
                            <div class="icon"><img src="assets/images/service-icon-03.png" alt=""></div>
                            <p>This feature converts a word as well as it's pronunciation in ASL to help the people have
                                a better grasp on how that specific word will be pronounced</p>
                        </div>
                        <div class="item">
                            <h4>Speech training via video tutorials for hearing impaired</h4>
                            <div class="icon"><img src="assets/images/service-icon-04.png" alt=""></div>
                            <p>There is curated list of video tutorials to ease the process of speaking a language for
                                people having hearing disabilities</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="about" class="about-us section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <div class="left-image">
                        <img src="assets/images/about-left-image.png" alt="Two Girls working together">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2><em>Speech to </em> <span>ASL</span></h2>
                        <p>This feature uses Machine Learning to make the world more accessible by converting either a
                            given video link or a live sound source to an ASL transcript</p>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="fact-item">
                                    <div class="count-area-content">
                                        <div class="icon">
                                            <img src="assets/images/service-icon-01.png" alt="">
                                        </div>
                                        <div class="count-digit">320+</div>
                                        <div class="count-title">Active User</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="fact-item">
                                    <div class="count-area-content">
                                        <div class="icon">
                                            <img src="assets/images/service-icon-02.png" alt="">
                                        </div>
                                        <div class="count-digit">640+</div>
                                        <div class="count-title">Total Users</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="fact-item">
                                    <div class="count-area-content">
                                        <div class="icon">
                                            <img src="assets/images/service-icon-03.png" alt="">
                                        </div>
                                        <div class="count-digit">120+</div>
                                        <div class="count-title">Sessions</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="asl-btn">
                    <a href="/asl">Try it now!</a>
                </div>
            </div>
        </div>
    </div>
    <div id="asl-training" class="about-us section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-heading" style="text-align: center;">
                        <h2><em>ASL</em> <span> Training</span></h2>
                        <p>This feature uses machine learning to find the correctness of the word with the given ASL
                            representation</p>
                        <div class="row" style="text-align: left;">
                            <div class="col-lg-6">
                                <div class="fact-item">
                                    <div class="count-area-content">
                                        <div class="icon">
                                            <img src="assets/images/service-icon-01.png" alt="">
                                        </div>
                                        <div class="count-digit">200+</div>
                                        <div class="count-title">Active User</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="fact-item">
                                    <div class="count-area-content">
                                        <div class="icon">
                                            <img src="assets/images/service-icon-02.png" alt="">
                                        </div>
                                        <div class="count-digit">840+</div>
                                        <div class="count-title">Total Users</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="asl-btn">
                    <a href="/aslpractice">Try it now!</a>
                </div>
            </div>
        </div>
    </div>

    <div id="video" class="our-videos section">
        <div class="videos-left-dec">
            <img src="assets/images/videos-left-dec.png" alt="">
        </div>
        <div class="videos-right-dec">
            <img src="assets/images/videos-right-dec.png" alt="">
        </div>
        <div class="container">
            <div class="row" style="margin-bottom: 45px;">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading" style="text-align: center;">
                        <h2 style="margin-bottom: 25px;">Curated list of <em>video tutorials</em> for people with
                            <span>hearing disabilities</span>
                        </h2>
                        <span>Video tutorials</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="naccs">
                        <div class="grid">
                            <div class="row">
                                <div class="col-lg-8">
                                    <ul class="nacc">
                                        <li class="active">
                                            <div>
                                                <div class="thumb">
                                                    <iframe width="100%" height="auto"
                                                        src="https://www.youtube.com/embed/rkQZQhloXuE"
                                                        title="YouTube video player" frameborder="0"
                                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                        allowfullscreen></iframe>
                                                    <div class="overlay-effect">
                                                        <a href="#">
                                                            <h4>Sign Language</h4>
                                                        </a>
                                                        <span>Basic Sign Language for Caregivers of the Deaf/Hard of
                                                            Hearing</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div>
                                                <div class="thumb">
                                                    <iframe width="100%" height="auto"
                                                        src="https://www.youtube.com/embed/Bk51TtmRA_w"
                                                        title="YouTube video player" frameborder="0"
                                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                        allowfullscreen></iframe>
                                                    <div class="overlay-effect">
                                                        <a href="#">
                                                            <h4>Training Session</h4>
                                                        </a>
                                                        <span>Hearing Impairment and Speech Development</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div>
                                                <div class="thumb">
                                                    <iframe width="100%" height="auto"
                                                        src="https://www.youtube.com/embed/GI70ZttvxBE"
                                                        title="YouTube video player" frameborder="0"
                                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                        allowfullscreen></iframe>
                                                    <div class="overlay-effect">
                                                        <a href="#">
                                                            <h4>Auditory Training</h4>
                                                        </a>
                                                        <span>Speech and Hearing Associates</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div>
                                                <div class="thumb">
                                                    <iframe width="100%" height="auto"
                                                        src="https://www.youtube.com/embed/5DUDEvEL4LU"
                                                        title="YouTube video player" frameborder="0"
                                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                        allowfullscreen></iframe>
                                                    <div class="overlay-effect">
                                                        <a href="#">
                                                            <h4>Speech & Music Therapy</h4>
                                                        </a>
                                                        <span>Group Speech & Music Therapy for Kids with Hearing
                                                            Loss</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-4">
                                    <div class="menu">
                                        <div class="active">
                                            <div class="thumb">
                                                <img src="assets/images/video-thumb-01.png" alt="">
                                                <div class="inner-content">
                                                    <h4>Sign Language</h4>
                                                    <span>Basic Sign Language for Caregivers of the Deaf/Hard of
                                                        Hearing</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="thumb">
                                                <img src="assets/images/video-thumb-02.png" alt="">
                                                <div class="inner-content">
                                                    <h4>Training Session</h4>
                                                    <span>Hearing Impairment and Speech Development</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="thumb">
                                                <img src="assets/images/video-thumb-03.png" alt="Marketing">
                                                <div class="inner-content">
                                                    <h4>Auditory Training</h4>
                                                    <span>Speech and Hearing Associates</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="thumb">
                                                <img src="assets/images/video-thumb-04.png" alt="SEO Work">
                                                <div class="inner-content">
                                                    <h4>Speech & Music Therapy</h4>
                                                    <span>Group Speech & Music Therapy for Kids with Hearing Loss</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="contact" class="contact-us section">
        <div id="pricing" class="pricing-tables">
            <div class="tables-left-dec">
                <img src="assets/images/tables-left-dec.png" alt="">
            </div>
            <div class="tables-right-dec">
                <img src="assets/images/tables-right-dec.png" alt="">
            </div>
            <div id="practice" class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3">
                        <div class="section-heading">
                            <h2>Here we Convert <em>word</em> as well as it's pronunciation in <span>ASL</span></h2>
                            <span>Pronunciation Training for hearing impaired</span>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-around">
                    <div class="col-lg-4">
                        <div class="item first-item">
                            <h4>Word</h4>
                            <span>Hello</span>
                            <img src="assets/images/Hello.jpeg" alt="" width="240" height="158"
                                style="margin-bottom: 34px;">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="item second-item">
                            <h4>Pronunciation</h4>
                            <span>Heh Low</span>
                            <img src="assets/images/Hey Low.jpeg" alt="" width="240" height="194">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="portfolio" class="our-portfolio section">
        <div class="portfolio-left-dec">
            <img src="assets/images/portfolio-left-dec.png" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2>let's see what our <em>customers</em> say <span>about us</span></h2>
                        <span>testimonies</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="owl-carousel owl-portfolio">
                        <div class="item">
                            <div class="thumb">
                                <img src="assets/images/portfolio-01.jpg" alt="">
                                <div class="hover-effect">
                                    <div class="inner-content">
                                        <a rel="sponsored" href="https://templatemo.com/tm-564-plot-listing"
                                            target="_parent">
                                            <h4>Ruth Joseph</h4>
                                        </a>
                                        <span>Wornderful app. I use it regularly, once every 3 months. Has helped me a
                                            lot during the COVID-19 times!</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <img src="assets/images/portfolio-02.jpg" alt="">
                                <div class="hover-effect">
                                    <div class="inner-content">
                                        <a href="#">
                                            <h4>Kevin Grande</h4>
                                        </a>
                                        <span>Has become one of my favourite apps. Would love to recommend it to
                                            evryone...</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <img src="assets/images/portfolio-03.jpg" alt="">
                                <div class="hover-effect">
                                    <div class="inner-content">
                                        <a rel="sponsored" href="https://templatemo.com/tm-562-space-dynamic"
                                            target="_parent">
                                            <h4>Harry</h4>
                                        </a>
                                        <span>Easy to use. Giving a rating of 5/5</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <img src="assets/images/portfolio-04.jpg" alt="">
                                <div class="hover-effect">
                                    <div class="inner-content">
                                        <a href="#">
                                            <h4>Aditya Sharma</h4>
                                        </a>
                                        <span>Loved the app, the interface and everything</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <img src="assets/images/portfolio-01.jpg" alt="">
                                <div class="hover-effect">
                                    <div class="inner-content">
                                        <a href="#">
                                            <h4>Ruth Joseph</h4>
                                        </a>
                                        <span>Wornderful app. I use it regularly, once every 3 months. Has helped me a
                                            lot during the COVID-19 times!</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <img src="assets/images/portfolio-02.jpg" alt="">
                                <div class="hover-effect">
                                    <div class="inner-content">
                                        <a href="#">
                                            <h4>Kevin Grande</h4>
                                        </a>
                                        <span>Has become one of my favourite apps. Would love to recommend it to
                                            evryone...</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <img src="assets/images/portfolio-03.jpg" alt="">
                                <div class="hover-effect">
                                    <div class="inner-content">
                                        <a href="#">
                                            <h4>Harry</h4>
                                        </a>
                                        <span>Easy to use. Giving a rating of 5/5</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <img src="assets/images/portfolio-04.jpg" alt="">
                                <div class="hover-effect">
                                    <div class="inner-content">
                                        <a href="#">
                                            <h4>Aditya Sharma</h4>
                                        </a>
                                        <span>Loved the app, the interface and everything</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <img src="assets/images/portfolio-01.jpg" alt="">
                                <div class="hover-effect">
                                    <div class="inner-content">
                                        <a href="#">
                                            <h4>Ruth Joseph</h4>
                                        </a>
                                        <span>Wornderful app. I use it regularly, once every 3 months. Has helped me a
                                            lot during the COVID-19 times!</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <img src="assets/images/portfolio-02.jpg" alt="">
                                <div class="hover-effect">
                                    <div class="inner-content">
                                        <a href="#">
                                            <h4>Kevin Grande</h4>
                                        </a>
                                        <span>Has become one of my favourite apps. Would love to recommend it to
                                            evryone...</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <img src="assets/images/portfolio-03.jpg" alt="">
                                <div class="hover-effect">
                                    <div class="inner-content">
                                        <a href="#">
                                            <h4>Harry</h4>
                                        </a>
                                        <span>Easy to use. Giving a rating of 5/5</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="thumb">
                                <img src="assets/images/portfolio-04.jpg" alt="">
                                <div class="hover-effect">
                                    <div class="inner-content">
                                        <a href="#">
                                            <h4>Aditya Sharma</h4>
                                        </a>
                                        <span>Loved the app, the interface and everything</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-dec">
        <img src="assets/images/footer-dec.png" alt="">
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="about footer-item">
                        <div class="logo">
                            <a href="#"><img src="assets/images/logo.png" alt="Onix Digital TemplateMo"></a>
                        </div>
                        <a href="#">help@ihearu.com</a>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="services footer-item">
                        <h4>Links</h4>
                        <ul>
                            <li><a href="#top">Home</a></li>
                            <li><a href="#services">Services</a></li>
                            <li><a href="#about">Speech to ASL</a></li>
                            <li><a href="#video">Videos</a></li>
                            <li><a href="#contact">Pronunciation</a></li>
                            <li><a href="#portfolio">Testimonies</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="subscribe-newsletters footer-item">
                        <h4>IHearU</h4>
                        <p>A smart initiative for people with hearing difficulties</p>
                        <form action="#" method="get">
                            <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email"
                                required="">
                            <button type="submit" id="form-submit" class="main-button "><i
                                    class="fa fa-paper-plane-o"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="copyright">
                        <p>Copyright © 2021 IHearU Ltd. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- Scripts -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/animation.js"></script>
    <script src="assets/js/imagesloaded.js"></script>
    <script src="assets/js/custom.js"></script>

    <script>
        // Acc
        $(document).on("click", ".naccs .menu div", function () {
            var numberIndex = $(this).index();

            if (!$(this).is("active")) {
                $(".naccs .menu div").removeClass("active");
                $(".naccs ul li").removeClass("active");

                $(this).addClass("active");
                $(".naccs ul").find("li:eq(" + numberIndex + ")").addClass("active");

                var listItemHeight = $(".naccs ul")
                    .find("li:eq(" + numberIndex + ")")
                    .innerHeight();
                $(".naccs ul").height(listItemHeight + "px");
            }
        });
    </script>
</body>

</html>