#handle::placeholder, #message::placeholder{
    color: rgb(114, 108, 108);
}

.chat-area {
    width: 70%;
    max-width: 300px;
    border-left: 1px solid orange;
}

#recorded{
    width: 450px;
    height: 400px;
}

#right{
    text-align: right;
    background: hsl(120, 64%, 79%);
}

.header{
    text-align: center;
}

#chat-window{
    background-color: rgb(248, 247, 247);
    height: calc(80vh - 80px);
    overflow-y: auto;
}

#rVideo{
    width: 256px;
    height: 256px;
}
#lVideo{
    width: 200px;
    height: 200px;
}

canvas{
    width: 400px;
    height: 400px;
}

#instructions{
    background-color: rgb(207, 220, 246);
    padding: 5px;
}

#subtitles-textarea{
    margin-top: 10px;
    width: 400px;
}
#ASL-subtitles-display{
    margin-top: 10px;
    border: 1px solid grey;
    height: 100px;
    overflow-y: auto;
}

.call-app-container {
    margin: 0px;
    display: flex;
    /*height: calc(100vh - 80px);*/
    padding: 0px;
    padding-top: 100px;
}

.id-input {
    margin-bottom: 10px;
}

.asl-btn {
    background: linear-gradient(105deg, rgba(255,104,95,1) 0%, rgba(255,144,104,1) 100%);
    width: 250px;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px 0px 10px 0px;
}
.asl-btn a {
    color: white;
    font-weight: 500;
}
.video-container {
    max-width: 1000px;
}
.spacer {
    width: 40px;
    height: 15px;
}
#subtitles img {
    width: auto;
    height: 70px;
}
#HamraContainer{
    background-color: white;
    padding: 100px;
    border-radius: 20px;
}

.btn-style
{
    padding: 10px;
    background: #a12c2f;
    color: white;
    border-radius: 32px;
    border: 1px solid #eee;
    margin-bottom: 20px;
}
