#handle::placeholder, #message::placeholder{
    color: rgb(114, 108, 108);
}

#text_area{
    width: 70%;
    margin: auto;
}

#recorded{
    width: 450px;
    height: 400px;
}

#right{
    text-align: right;
    background: hsl(120, 64%, 79%);
}

.header{
    text-align: center;
}

#chat-window{
    background-color: rgb(248, 247, 247);
    height: 200px;
    overflow-y: auto;
}

#lVideo{
    width: 400px;
    height: 400px;
}

canvas{
    width: 400px;
    height: 400px;

}

#instructions{
    background-color: rgb(207, 220, 246);
    padding: 5px;
}

#subtitles-textarea{
    margin-top: 10px;
    width: 400px;
}
#ASL-subtitles-display{
    margin-top: 10px;
    border: 1px solid grey;
    height: 100px;
    overflow-y: auto;
}

.asl-btn {
    background: linear-gradient(105deg, rgba(255,104,95,1) 0%, rgba(255,144,104,1) 100%);
    width: 250px;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px 0px 10px 0px;
}
.asl-btn a {
    color: white;
    font-weight: 500;
}
.video-container {
    max-width: 1000px;
}
.spacer {
    width: 40px;
    height: 15px;
}
#subtitles img {
    width: auto;
    height: 70px;
}